.all{
    box-shadow: 1px 1px 1px #D4D4D4; 
    border-style: solid;
    background-color: white;
    width: 40%;
    margin: 100px 300px;
    padding: 30px;
    border-radius: 10px;
}
.up p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button-blue{
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
}
.name input{
    border-radius: 5px;
    border-color: #DADADA;
    padding: 10px;
    border-style: solid;
}
.form label{
    margin-top: 10px;
    color: #4B5563;
}
.all p, .all h2{
    color: #4B5563;
}
.down a{
    color: #5F6FFF;text-decoration: underline;
}